[Desktop Entry]
Name=Mixer DataEngine
Name[bs]=Mikser pogon podataka
Name[ca]=Motor de dades del mesclador
Name[ca@valencia]=Motor de dades del mesclador
Name[cs]=Datový stroj směšovače
Name[da]=Datamotor til mikser
Name[de]=Mixer-Datenmodul
Name[et]=Mikseri andmemootor
Name[fr]=Moteur de données du mixeur
Name[hr]=Mikserov DataEngine
Name[hu]=Hangkeverő adatmodul
Name[it]=Motore di dati del mixer
Name[kk]=Микшер деректер тетігі
Name[km]=កម្មវិធី​លាយ DataEngine
Name[ko]=믹서 데이터 엔진
Name[lt]=Mikšerio duomenų variklis
Name[nb]=Mikser datamotor
Name[nds]=Mischer-Datenkarn
Name[nl]=Gegevensengine voor mixer
Name[pt]=Motor de Dados da Mesa de Mistura
Name[pt_BR]=Mecanismo de dados do mixer
Name[ru]=Источник данных Plasma для работы с микшером
Name[sr]=Датомотор миксете
Name[sr@ijekavian]=Датомотор миксете
Name[sr@ijekavianlatin]=Datomotor miksete
Name[sr@latin]=Datomotor miksete
Name[sv]=Datagränssnitt för mixer
Name[tr]=Karıştırıcı Veri Sağlayıcısı
Name[uk]=Рушій даних мікшера
Name[x-test]=xxMixer DataEnginexx
Name[zh_CN]=混合器数据引擎
Name[zh_TW]=混合器資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kmix
X-KDE-Library=plasma_engine_mixer
X-KDE-PluginInfo-Name=mixer
