[Desktop Entry]
Name=Mixer DataEngine
Name[bg]=Ядро за смесител
Name[bs]=Mikser pogon podataka
Name[ca]=Motor de dades del mesclador
Name[ca@valencia]=Motor de dades del mesclador
Name[cs]=Datový stroj směšovače
Name[da]=Datamotor til mikser
Name[de]=Mixer-Datenmodul
Name[el]=Μηχανή δεδομένων μείκτη
Name[en_GB]=Mixer DataEngine
Name[es]=Motor de datos del mezclador
Name[et]=Mikseri andmemootor
Name[fi]=Mikseritietomoottori
Name[fr]=Moteur de données du mixeur
Name[ga]=Inneall Sonraí an Mheascóra
Name[gl]=Motor de datos do mesturador
Name[hu]=Keverő adatmodul
Name[ia]=Motor de datos de Mxer
Name[id]=Mesindata Mixer
Name[is]=Hljóðblöndunargagnavél
Name[it]=Motore di dati del mixer
Name[kk]=Микшер деректер тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​នៃ​កម្មវិធី​លាយ
Name[ko]=믹서 데이터 엔진
Name[lt]=Maišytuvo duomenų variklis
Name[mr]=मिक्सर डेटाइंजिन
Name[nb]=Mikser datamotor
Name[nds]=Mischer-Datenkarn
Name[nl]=Gegevensengine voor mixer
Name[pa]=ਮਿਕਸਰ ਡਾਟਾਇੰਜਣ
Name[pl]=Silnik danych miksera
Name[pt]=Motor de Dados da Mesa de Mistura
Name[pt_BR]=Mecanismo de dados do mixer
Name[ro]=Motor de date Mixer
Name[ru]=Источник данных Plasma для работы с микшером
Name[sk]=Dátový engine mixéra
Name[sl]=DataEngine mešalnika
Name[sr]=Датомотор миксете
Name[sr@ijekavian]=Датомотор миксете
Name[sr@ijekavianlatin]=Datomotor miksete
Name[sr@latin]=Datomotor miksete
Name[sv]=Datagränssnitt för mixer
Name[tr]=Karıştırıcı Veri Sağlayıcısı
Name[ug]=سازلىغۇچ سانلىق مەلۇمات ماتورى
Name[uk]=Рушій даних мікшера
Name[x-test]=xxMixer DataEnginexx
Name[zh_CN]=混音器数据引擎
Name[zh_TW]=混合器資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kmix
X-KDE-Library=plasma_engine_mixer
X-KDE-PluginInfo-Name=mixer
