[Desktop Entry]
Encoding=UTF-8
Exec=kmix -caption "%c" %i %m
DocPath=kmix/index.html
TerminalOptions=
Path=
Type=Application
MimeType=
Terminal=0
Icon=kmix
Comment=Sound Mixer
Comment[af]=klank menger
Comment[cs]=Zvukový směšovač
Comment[da]=Lydmikser
Comment[de]=Soundmixer
Comment[es]=Un mezclador audio
Comment[fi]=Äänimikseri
Comment[fr]=Une console de mixage
Comment[he]=מערבל צליל
Comment[hu]=Egy hangkeverő program
Comment[it]=Mixer audio
Comment[lt]=Garsų maišiklis
Comment[lv]=Skaņas Mikšeris
Comment[nl]=geluidsmixer
Comment[nn]=Lydmiksar
Comment[pt]=Mesa de Mistura Áudio
Comment[pt_BR]=Mesa de Mistura Áudio
Comment[sk]=Zvukový mixér
Comment[sl]=Mešalnik zvoka
Comment[sv]=Ljudmixer
Comment[ta]=´Ä¢ì ¸Äì¸¢
Comment[xx]=xx
Name=KMix
Name[af]=kmix
Name[fr]=kMix
Name[hu]=KMix hangkeverő
Name[lv]=KMiks
Name[sl]=KMiks
Name[sv]=Kmix
Name[xx]=xx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
