[Desktop Entry]
Type=Plugin
Name=Sound Mixer
Name[bg]=Аудио миксер
Name[br]=Mesker ar Son
Name[bs]=Zvučni mikser
Name[ca]=Mesclador de so
Name[cs]=Zvukový směšovač
Name[cy]=Cymysgydd Sŵn
Name[da]=Lydmikser
Name[de]=Lautstärkeregler
Name[el]=Μείκτης ήχου
Name[eo]=Sonmiksilo
Name[es]=Mezclador de audio
Name[et]=Helimikser
Name[eu]=Soinu nahasgailua
Name[fa]=مخلوط‌کن صدا
Name[fi]=Äänimikseri
Name[fr]=Console de mixage
Name[ga]=Meascthóir Fuaime
Name[gl]=Mesturador de Son
Name[he]=מערבל צליל
Name[hi]=ध्वनि मिक्सर
Name[hr]=Mixer zvuka
Name[hu]=Hangkeverő
Name[is]=Hljóðblöndun
Name[it]=Mixer sonoro
Name[ja]=サウンドミキサー
Name[kk]=Дыбыс микшері
Name[km]=កម្មវិធី​លាយ​សំឡេង
Name[ko]=소리 믹서
Name[mk]=Миксета за звук
Name[ms]=Pengadun Bunyi
Name[nb]=Lydmikser
Name[nds]=Klangmischer
Name[ne]=ध्वनि मिक्सर
Name[nl]=Geluidsmixer
Name[nn]=Lydmiksar
Name[pa]=ਸਾਊਂਡ ਮਿਕਸਰ
Name[pl]=Mikser dźwięku
Name[pt]=Mistura de Áudio
Name[pt_BR]=Mixagem de som
Name[ro]=Mixer de sunet
Name[ru]=Микшер
Name[sk]=Zvukový mixér
Name[sl]=Mešalnik zvoka
Name[sr]=Звучна миксета
Name[sr@Latn]=Zvučna mikseta
Name[sv]=Ljudmixer
Name[ta]=ஒலிக் ஒன்றுசேர்ப்பான்
Name[tg]=Омехтакунаки Овоз
Name[th]=ปรับแต่งผสมเสียง
Name[tr]=Ses Karıştırıcı
Name[uk]=Аудіомікшер
Name[uz]=Audio mikser
Name[uz@cyrillic]=Аудио миксер
Name[wa]=Maxheu d' sons
Name[zh_CN]=混音器
Name[zh_HK]=聲音混音器
Name[zh_TW]=音效混音器

Comment=Volume and sound channel mixer control
Comment[bg]=Управление на силата на звука и каналите
Comment[br]=Renadur meskañ kanol ha nerzh
Comment[bs]=Kontrola miksera kanala glasnoće i zvuka
Comment[ca]=Control i mesclador de volum i canals de so
Comment[cs]=Ovládání hlasitosti a zvukových kanálů
Comment[da]=Mikserkontrol for lydstyrke og lydkanal
Comment[de]=Kontrolle der Lautstärke
Comment[el]=Στοιχείο μείκτη ήχων και έντασης καναλιών
Comment[eo]=Stirado de volumo kaj sonkanalmiksilo
Comment[es]=Control del volumen y los canales de sonido del mezclador
Comment[et]=Helitugevuse ja helikanalite seadistamine
Comment[eu]=Bolumena eta soinu-kanalen nahasketarako kontrola
Comment[fa]=کنترل مخلوط‌کن مجرای صدا و حجم صدا
Comment[fi]=Äänenvoimakkuuden ja äänikanavien mikserin hallinta
Comment[fr]=Contrôle du volume et des canaux de la console de mixage
Comment[gl]=Control do volume e da canle de son do mesturador
Comment[he]=שינוי הגדרות עוצמת קול של כרטיס הקול
Comment[hu]=Hangerőbeállító és keverő
Comment[is]=Stjórnun á styrk og hljóðrása blöndun
Comment[it]=Controllo del volume e del mixer sonoro
Comment[ja]=ボリュームおよびサウンドチャンネルミキサー制御
Comment[kk]=Дыбыс үнділігі мен арналарды басқару
Comment[km]=ឧបករណ៍​លាយ​ឆានែល​កម្រិត​សំឡេង និង​សំឡេង​
Comment[ko]=음량과 사운드 채널 믹서 조정
Comment[lt]=Garso ir garso kanalų maišyklės valdymas
Comment[nb]=Miksekontroll for lydnivået og lydkanalene
Comment[nds]=Kuntrull för den Luutstärk- un Klangkanaalmischer
Comment[ne]=भोल्युम र ध्वनि च्यानल मिक्सर नियन्त्रण
Comment[nl]=Bedieningspaneel voor het regelen van het volume en de geluidskanalen
Comment[nn]=Lydstyrke- og kanalmiksarkontroll
Comment[pl]=Sterowanie mikserem dźwięku i kanałów
Comment[pt]=Controlo de volume e canais de som
Comment[pt_BR]=Controle de volume e mixer de canais de som
Comment[ru]=Управление громкостью и звуковыми каналами
Comment[sk]=Riadenie hlasitosti a zvukového kanálu mixéru
Comment[sl]=Nadzor glasnosti in mešalnik zvočnih kanalov
Comment[sr]=Контрола јачине и миксета звучних канала
Comment[sr@Latn]=Kontrola jačine i mikseta zvučnih kanala
Comment[sv]=Volymkontroll och ljudkanalmixer
Comment[th]=โปรแกรมควบคุมช่องเสียงและระดับเสียง
Comment[tr]=Ses düzeyi ve ses kanalı karıştırıcısını kontrol edin
Comment[uk]=Керування гучністю і міксером звукових каналів
Comment[zh_CN]=音量和声道混音器控制
Comment[zh_HK]=音量與聲道混音控制器
Comment[zh_TW]=音量與聲道混音器控制

Icon=kmix
X-KDE-Library=kmix_panelapplet
