<!DOCTYPE kpartgui>
<kpartgui name="kmix">

<MenuBar>
 <Menu name="file"><text>&amp;File</text>
  <Action name="file_load_volume"/>
  <Action name="file_save_volume"/>
 </Menu>
</MenuBar>

</kpartgui>
