[Desktop Entry]
Type=Service
Name=Restore Mixer Settings
Name[bg]=Възстановяване настройките на смесителя
Name[bs]=Obnovi postavke miksete
Name[ca]=Restaura l'arranjament del mesclador
Name[ca@valencia]=Restaura l'arranjament del mesclador
Name[cs]=Obnovit nastavení směšovače
Name[da]=Genskab mikserindstillinger
Name[de]=Lautstärkeeinstellungen wiederherstellen
Name[el]=Επαναφορά ρυθμίσεων μείκτη
Name[en_GB]=Restore Mixer Settings
Name[es]=Restaurar las preferencias del mezclador
Name[et]=Mikseri seadistuste taastamine
Name[fi]=Palauta mikserin asetukset
Name[fr]=Restaurer la configuration du mixage
Name[ga]=Athchóirigh Socruithe an Mheascthóra
Name[gl]=Restaurar os parámetros do mesturador
Name[hu]=Keverőbeállítások visszaállítása
Name[ia]=Restabili preferentias de Mixer
Name[id]=Kembalikan Pengaturan Mixer
Name[is]=Frumstilla hljóðblöndunarstillingar
Name[it]=Ripristina le impostazioni del mixer
Name[ja]=ミキサーの設定を復元
Name[kk]=Микшер баптауларын қалпына келтіру
Name[km]=ស្ដារ​ការ​កំណត់​របស់​កម្មវិធី​លាយ​ឡើងវិញ
Name[ko]=믹서 설정 복원
Name[lt]=Atstatyti maišytuvo nustatymus
Name[mr]=मिक्सर संयोजना पुन्हस्थापित करा
Name[nb]=Gjennopprett mikserinnstillinger
Name[nds]=Mischerinstellen wedderherstellen
Name[nl]=Mixerinstellingen herstellen
Name[nn]=Gjenopprett miksarinnstillingar
Name[pa]=ਮਿਕਸਰ ਸੈਟਿੰਗ ਮੁੜ-ਸਟੋਰ ਕਰੋ
Name[pl]=Przywróć ustawienia miksera
Name[pt]=Repor a Configuração do Volume
Name[pt_BR]=Restaurar configurações do Mixer
Name[ro]=Restabilește configurările mixerului
Name[ru]=Восстановление параметров микшера
Name[se]=Máhcat mixerheivehusat
Name[sk]=Obnoviť nastavenie mixéra
Name[sl]=Obnovi nastavitve mešalnika
Name[sr]=Поврати поставке миксете
Name[sr@ijekavian]=Поврати поставке миксете
Name[sr@ijekavianlatin]=Povrati postavke miksete
Name[sr@latin]=Povrati postavke miksete
Name[sv]=Återställ mixerinställningar
Name[tr]=Karıştırıcı Ayarlarını Yeniden Yükle
Name[ug]=سازلىغۇچ تەڭشەكلىرىنى ئەسلىگە كەلتۈر
Name[uk]=Відновити параметри мікшера
Name[x-test]=xxRestore Mixer Settingsxx
Name[zh_CN]=还原混音器设置
Name[zh_TW]=回復混音器設定
Exec=kmixctrl --restore
