[Desktop Entry]
Type=Service
Name=Restore Mixer Settings
Name[cs]=Obnovit nastavení směšovače
Name[de]=Lautstärkeeinstellungen wiederherstellen
Name[el]=Επαναφορά ρυθμίσεων μείκτη
Name[ga]=Athchóirigh Socruithe an Mheascthóra
Name[gl]=Restaurar os parámetros do mesturador
Name[nb]=Gjennopprett mikserinnstillinger
Name[nl]=Mixerinstellingen herstellen
Name[nn]=Gjenopprett miksarinnstillingar
Name[pl]=Przywróć ustawienia miksera
Name[pt]=Repor a Configuração do Volume
Name[pt_BR]=Restaurar configurações do Mixer
Name[se]=Máhcat mixerheivehusat
Name[sk]=Obnoviť nastavenie mixéra
Name[sv]=Återställ mixerinställningar
Name[uk]=Відновити параметри мікшера
Name[x-test]=xxRestore Mixer Settingsxx
Name[zh_CN]=还原混音器设置
Name[zh_TW]=回復混音器設定
Exec=kmixctrl --restore
