<!DOCTYPE kpartgui>
<kpartgui name="kmix" version="1">

<MenuBar>
 <Menu name="file"><text>&amp;File</text>
  <Action name="file_new_tab"/>
  <Action name="file_close_tab"/>
  <Separator/>
  <Action name="file_load_volume"/>
  <Action name="file_save_volume"/>
 </Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
</ToolBar>

</kpartgui>
