[Desktop Entry]
Encoding=UTF-8
Exec=kmix -caption "%c" %i %m
DocPath=kmix/index.html
OnlyShowIn=KDE;
Path=
Type=Application
MimeType=
Terminal=false
Icon=kmix
GenericName=Sound Mixer
GenericName[fr]=Console de mixage
GenericName[x-test]=xxSound Mixerxx
Name=KMix
Name[x-test]=xxKMixxx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;AudioVideo;AudioMixer;
