[Desktop Entry]
Type=Service
Icon=preferences-desktop-keyboard
Exec=kmixd
Name=KMixD
Name[et]=KMixD
Name[nds]=KMixD
Name[pt]=KMixD
Name[pt_BR]=KMixD
Name[sv]=Kmixd
Name[uk]=KMixD
Name[x-test]=xxKMixDxx
Comment=KMixD Mixer Service
Comment[et]=KMixD mikseriteenus
Comment[nds]=KMixD-Mischer
Comment[pt]=Serviço de Mistura KMixD
Comment[pt_BR]=Serviços de Mixer KMixD
Comment[sv]=Kmixd mixertjänst
Comment[uk]=Служба мікшування KMixD
Comment[x-test]=xxKMixD Mixer Servicexx
#X-KDE-autostart-phase=1
#X-DBUS-StartupType=Unique
#X-KDE-ServiceTypes=
#X-KDE-StartupNotify=false

# KDED registration
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kmixd
X-KDE-DBus-ModuleName=kmixd
X-KDE-DBUS-ModuleName=kmixd
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
