[Desktop Entry]
Encoding=UTF-8
Type=Plugin
Name=Sound Mixer
Name[bg]=Аудио миксер
Name[br]=Mesker ar Son
Name[ca]=Mesclador de so
Name[cs]=Zvukový směšovač
Name[cy]=Cymysgydd Sŵn
Name[da]=Lydmikser
Name[de]=Lautstärkeregler
Name[el]=Μείκτης ήχου
Name[es]=Mezclador de audio
Name[et]=Helimikser
Name[eu]=Soinu nahasgailua
Name[fa]=مخلوط‌کن صدا
Name[fi]=Äänimikseri
Name[fr]=Console de mixage
Name[ga]=Meascthóir Fuaime
Name[gl]=Mesturador de Son
Name[he]=מערבל צליל
Name[hr]=Mixer zvuka
Name[hu]=Hangkeverő
Name[is]=Hljóðblöndun
Name[it]=Mixer sonoro
Name[ja]=サウンドミキサー
Name[kk]=Дыбыс микшері
Name[km]=កម្មវិធី​លាយ​សម្លេង
Name[ko]=소리 믹서
Name[mk]=Миксета за звук
Name[ms]=Pengadun Bunyi
Name[nb]=Lydmikser
Name[nds]=Klangmischer
Name[ne]=ध्वनि मिक्सर
Name[nl]=Geluidsmixer
Name[nn]=Lydmiksar
Name[pa]=ਸਾਊਂਡ ਮਿਕਸਰ
Name[pl]=Mikser dźwięku
Name[pt]=Mistura de Áudio
Name[pt_BR]=Mixer de Som
Name[ro]=Mixer de sunet
Name[ru]=Микшер
Name[sl]=Mešalnik zvoka
Name[sr]=Звучна миксета
Name[sr@latin]=Zvučna mikseta
Name[sv]=Ljudmixer
Name[ta]=ஒலிக் ஒன்றுசேர்ப்பான்
Name[tg]=Омехтакунаки Овоз
Name[th]=ปรับแต่งผสมเสียง
Name[tr]=Ses Karıştırıcı
Name[uk]=Аудіомікшер
Name[uz]=Аудио миксер
Name[wa]=Maxheu d' sons
Name[x-test]=xxSound Mixerxx
Name[zh_CN]=混音器
Name[zh_HK]=聲音混音器
Name[zh_TW]=音效混音器

Comment=Shows and let you control sound volumes
Comment[bg]=Показва панела на аудио миксера
Comment[ca]=Mostra i us permet controlar el volum dels sons
Comment[cs]=Zobrazuje a umožňuje měnit hlasitost
Comment[de]=Zeigt Ihnen die Lautstärkeregler und lässt Sie die Lautstärke kontrollieren
Comment[el]=Εμφανίζει και σας επιτρέπει να αλλάξετε την ένταση του ήχου
Comment[es]=Muestra y le deja controlar el volumen del sonido
Comment[fr]=Montre et vous permet de contrôler les volumes sonores
Comment[gl]=Mostra e permítelle controlar os volumes do son
Comment[ja]=音量の表示とコントロール
Comment[ko]=소리 음량을 보여 주고 조정합니다
Comment[nb]=Lar deg vise og kontrollere lydstyrke
Comment[ne]=देखाउँछ र तपाईँलाई ध्वनि भोल्युम नियन्त्रण गर्न अनुमति दिन्छ
Comment[nl]=Hiermee kunt u het geluidsvolume instellen
Comment[nn]=Viser og let deg endra lydstyrke
Comment[pa]=ਤੁਹਾਨੂੰ ਸਾਊਂਡ ਵਾਲੀਅਮ ਵੇਖਾਓ ਅਤੇ ਕੰਟਰੋਲ ਕਰਨ ਦਿਓ
Comment[pt]=Mostra e permite-lhe controlar os volumes de som
Comment[pt_BR]=Mostra e permite que você controle os volumes do som
Comment[sv]=Visar och låter dig ändra ljudvolym
Comment[th]=แสดงและอนุญาตให้คุณควบคุมระดับเสียง
Comment[x-test]=xxShows and let you control sound volumesxx
Comment[zh_CN]=显示和控制音量
Comment[zh_TW]=顯示並讓您控制音量

Icon=kmix
X-KDE-Library=kmix_panelapplet
