[Desktop Entry]
Type=Service
Icon=kmix
Name=KMix Daemon
Comment=Monitors sound devices
#X-KDE-autostart-phase=1
#X-DBUS-StartupType=Unique
#X-KDE-ServiceTypes=
#X-KDE-StartupNotify=false

# KDED registration
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_kmixd
X-KDE-DBus-ModuleName=kmixd
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
