[Desktop Entry]
Exec=kmix
DocPath=kmix/index.html
OnlyShowIn=KDE;
Type=Application
MimeType=
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-autostart-condition=kmixrc:Global:AutoStart:true
Icon=kmix
GenericName=Sound Mixer
GenericName[af]=Klank Menger
GenericName[ar]=مازج الصوت
GenericName[bg]=Звуков смесител
GenericName[br]=Mesker ar Son
GenericName[ca]=Mesclador de so
GenericName[ca@valencia]=Mesclador de so
GenericName[cs]=Zvukový směšovač
GenericName[cy]=Cymysgydd Sŵn
GenericName[da]=Lydmikser
GenericName[de]=Lautstärkeregler
GenericName[el]=Μείκτης ήχου
GenericName[en_GB]=Sound Mixer
GenericName[eo]=Sonmiksilo
GenericName[es]=Mezclador de audio
GenericName[et]=Helimikser
GenericName[eu]=Soinu nahasgailua
GenericName[fa]=مخلوط‌کن صدا
GenericName[fi]=Äänimikseri
GenericName[fr]=Console de mixage
GenericName[ga]=Meascthóir Fuaime
GenericName[gl]=Mesturador de Son
GenericName[he]=מערבל צליל
GenericName[hi]=ध्वनि मिक्सर
GenericName[hne]=अवाज मिक्सर
GenericName[hr]=Mikser zvuka
GenericName[hu]=Hangkeverő
GenericName[is]=Hljóðblöndun
GenericName[it]=Mixer audio
GenericName[ja]=サウンドミキサー
GenericName[kk]=Дыбыс микшері
GenericName[km]=កម្មវិធី​លាយ​សំឡេង
GenericName[ko]=소리 믹서
GenericName[ku]=Alozkerê Dengê
GenericName[lt]=Garsų maišiklis
GenericName[lv]=Skaņas mikseris
GenericName[mk]=Миксета за звук
GenericName[ms]=Pengadun Bunyi
GenericName[nb]=Lydmikser
GenericName[nds]=Klangmischer
GenericName[ne]=ध्वनि मिक्सर
GenericName[nl]=Geluidsmixer
GenericName[nn]=Lydmiksar
GenericName[pa]=ਸਾਊਂਡ ਮਿਕਸਰ
GenericName[pl]=Ustawienia głośności
GenericName[pt]=Mistura de Áudio
GenericName[pt_BR]=Mixer de som
GenericName[ro]=Mixer de sunet
GenericName[ru]=Звуковой микшер
GenericName[se]=Jietnamixer
GenericName[sk]=Zvukový mixér
GenericName[sl]=Mešalnik zvoka
GenericName[sr]=Звучна миксета
GenericName[sr@latin]=Zvučna mikseta
GenericName[sv]=Ljudmixer
GenericName[ta]=ஒலி ஒன்றுசேர்ப்பான்
GenericName[tg]=Омехтакунаки Овоз
GenericName[th]=ปรับแต่งผสมเสียง
GenericName[tr]=Ses Karıştırıcı
GenericName[uk]=Аудіомікшер
GenericName[uz]=Audio mikser
GenericName[uz@cyrillic]=Аудио миксер
GenericName[wa]=Maxheu d' sons
GenericName[xh]=Umxubi WokuvakalayoU
GenericName[x-test]=xxSound Mixerxx
GenericName[zh_CN]=混音器
GenericName[zh_HK]=聲音混音器
GenericName[zh_TW]=音效混音器
Name=KMix
Name[af]=Kmix
Name[ar]=مازج كدى
Name[be]=KMix
Name[bg]=KMix
Name[bn]=কে-মিক্স
Name[br]=KMix
Name[ca]=KMix
Name[ca@valencia]=KMix
Name[cs]=KMix
Name[cy]=KMix
Name[da]=KMix
Name[de]=KMix
Name[el]=KMix
Name[en_GB]=KMix
Name[eo]=KMix
Name[es]=KMix
Name[et]=KMix
Name[eu]=KMix
Name[fi]=KMix
Name[fr]=KMix
Name[ga]=KMix
Name[gl]=KMix
Name[he]=KMix
Name[hi]=के-मिक्स
Name[hne]=के-मिक्स
Name[hr]=KMix
Name[hu]=KMix
Name[is]=KMix
Name[it]=KMix
Name[ja]=KMix
Name[kk]=KMix
Name[km]=KMix
Name[ko]=KMix
Name[ku]=KMix
Name[lt]=KMix
Name[lv]=KMix
Name[mk]=KMix
Name[ms]=KMix
Name[nb]=KMix
Name[nds]=KMix
Name[ne]=केडीई मिक्स
Name[nl]=KMix
Name[nn]=KMix
Name[oc]=KMix
Name[pa]=ਕੇ-ਮਿਕਸ
Name[pl]=KMix
Name[pt]=KMix
Name[pt_BR]=KMix
Name[ro]=KMix
Name[ru]=KMix
Name[se]=KMix
Name[sk]=KMix
Name[sl]=KMix
Name[sr]=К‑миксета
Name[sr@latin]=K‑mikseta
Name[sv]=Kmix
Name[ta]=கேமிக்ஸ்
Name[tg]=KОмезиш
Name[th]=KMix
Name[tr]=KMix
Name[uk]=KMix
Name[uz]=KMix
Name[uz@cyrillic]=KMix
Name[wa]=KMix
Name[xh]=KMix
Name[x-test]=xxKMixxx
Name[zh_CN]=KMix
Name[zh_HK]=KMix
Name[zh_TW]=KMix 混音器
Categories=Qt;KDE;AudioVideo;Mixer;
