[Desktop Entry]
Type=Service
Name=Restore Mixer Settings
Name[af]=Herstel Menger Instellings
Name[az]=Qarışdırıcı Qurğularını Yenidən Yükle
Name[bg]=Възстановяване на настройките на миксера
Name[bn]=মিক্সার সেটিংস পুনঃস্থাপন করে
Name[br]=Assav kefluniadur ar mesker
Name[bs]=Vrati postavke miksera
Name[ca]=Restaura l'arranjament del mesclador
Name[cs]=Obnovit nastavení směšovače
Name[cy]=Adfer Gosodiadau Cymysgydd
Name[da]=Genopret mikseropsætning
Name[de]=Lautstärkeeinstellungen wiederherstellen
Name[el]=Αποκατάσταση ρυθμίσεων μείκτη
Name[eo]=Restarigu Miksilagordon
Name[es]=Restaurar opciones del mezclador
Name[et]=Mikseri seadistuste taastamine
Name[eu]=Nahasgailuaren ezarpenak berreskuratu
Name[fa]=باز‌گردانی تنظیمات مخلوط‌کن
Name[fi]=Palauta mikserin asetukset
Name[fr]=Restaurer la configuration du mixage
Name[gl]=Restaura-los Parámetros do Mesturador
Name[he]=שיחזור הגדרות המערבל
Name[hi]=मिक्सर विन्यास बहाल करें
Name[hr]=Vrati postavke miksera
Name[hu]=A hangkeverő beállításainak visszatöltése
Name[id]=Kembalikan seting Mixer
Name[is]=Sækja aftur stillingar hljóðrása
Name[it]=Ripristina le impostazioni del mixer
Name[ja]=ミキサーの設定を復元
Name[kk]=Микшер баптауларын қалпына келтіру
Name[km]=ស្ដារ​ការ​កំណត់​ឧបករណ៍​លាយ​ឡើង​វិញ
Name[ko]=믹서 설정 복원
Name[lt]=Gražinti mikšerio parametrus
Name[lv]=Atjauno Miksera Uzstādījumus
Name[mk]=Враќање на поставувањата на миксетата
Name[ms]=Pulihkan Tetapan Pengadun
Name[mt]=Reġġa' lura setings tal-Mixer
Name[nb]=Gjennopprett mikserinnstillinger
Name[nds]=Mischerinstellen wedderherstellen
Name[ne]=मिक्सर सेटिङ पूर्वावस्थामा ल्याउनुहोस्
Name[nl]=Mixerinstellingen herstellen
Name[nn]=Gjenopprett miksarinnstillingar
Name[pl]=Odtwarzanie ustawień miksera
Name[pt]=Repor a Configuração do Volume
Name[pt_BR]=Restaurar preferências do mixer
Name[ro]=Reface setările mixerului
Name[ru]=Восстанавливает настройки микшера
Name[se]=Máhcat mixerheivehusat
Name[sk]=Obnov Nastavenia Mixéra
Name[sl]=Obnovi nastavitve mešalnika
Name[sr]=Поврати поставке миксете
Name[sr@Latn]=Povrati postavke miksete
Name[sv]=Återställ mixerinställningar
Name[ta]=ஒன்றுசேர்க்கும் அமைப்புகளை மீட்கவும்
Name[tg]=Аз нав захиракунии Гузоришҳои Омехтакунак
Name[th]=เรียกคืนค่าที่ตั้งไว้ของมิกเซอร์
Name[tr]=Karıştırıcı Ayarlarını Yeniden Yükle
Name[uk]=Відновити параметри мікшера
Name[uz]=Mikserning moslamalarini qayta tiklash
Name[uz@cyrillic]=Миксернинг мосламаларини қайта тиклаш
Name[ven]=Vhuedzedzani vhuvha ha tshitanganisi
Name[wa]=Rimete come divant les apontiaedjes d maxheu d' sons
Name[xh]=Gcina kwakhona izicwangciso zoMxubi
Name[zh_CN]=恢复混音器设置
Name[zh_HK]=回復混音器設置
Name[zh_TW]=回復混音器設定
Name[zu]=Gcina futhi izilungiso zoMxubi
Exec=kmixctrl --restore
