[Desktop Entry]
Encoding=UTF-8
X-KDE-autostart-phase=1
X-KDE-autostart-condition=kmixrc::startkdeRestore:true
Type=Application
Exec=kmixctrl --restore
OnlyShowIn=KDE;
Name=Restore Mixer Volumes
Name[el]=Επαναφορά των εντάσεων του μείκτη
Name[fr]=Restaurer les volumes du mixage
Name[x-test]=xxRestore Mixer Volumesxx

