[Desktop Entry]
X-KDE-autostart-phase=1
X-KDE-autostart-condition=kmixrc::startkdeRestore:true
Type=Application
Exec=kmixctrl --restore
OnlyShowIn=KDE;
Name=Restore Mixer Volumes
Name[bg]=Възстановяване на стойностите на миксера
Name[bn]=মিক্সার ভলিউম পুনঃস্থাপন করে
Name[br]=Assav pep tolzennad mesker
Name[bs]=Vrati jačine miksera
Name[ca]=Restaura els volums del mesclador
Name[cs]=Obnovit nastavení hlasitosti
Name[cy]=Adfer Lefelau Sain y Cymysgydd
Name[da]=Genopret mikser lydstyrke
Name[de]=Lautstärken wiederherstellen
Name[el]=Επαναφορά των εντάσεων του μείκτη
Name[eo]=Restarigu Miksilagordon
Name[es]=Restaurar opciones del mezclador
Name[et]=Mikseri helitugevuste taastamine
Name[eu]=Nahasgailuaren bolumenak berreskuratu
Name[fa]=باز‌گردانی حجم صداهای مخلوط‌کن
Name[fi]=Palauta mikserin äänivoimakkuudet
Name[fr]=Restaurer les volumes du mixage
Name[gl]=Restaurar os Volumes do Mesturador
Name[he]=שיחזור עוצמות הקול של המערבל
Name[hu]=A hangkeverő hangerőinek visszaállítása
Name[is]=Sækja aftur stillingar hljóðrása
Name[it]=Ripristina i volumi del Mixer
Name[ja]=ミキサーの音量設定を復元する
Name[kk]=Микшер деңгейлерін қалпына келтіру
Name[km]=ស្ដារ​សំឡេង​ឧបករណ៍​លាយ
Name[ko]=믹서 음량 복원
Name[lt]=Atstatyti maišytuvo garso lygius
Name[mk]=Враќање на гласностите на миксетата
Name[nb]=Gjenopprett lydstyrkene til mikser
Name[nds]=Mischerluutstärken wedderherstellen
Name[ne]=मिक्सर भोल्युम पूर्वावस्थामा ल्यानुहोस्
Name[nl]=Mixervolumes herstellen
Name[nn]=Gjenopprett miksarlydstyrkar
Name[pl]=Odtwarzanie głośności miksera
Name[pt]=Repor os Volumes
Name[pt_BR]=Restaurar volumes do mixer
Name[ro]=Reface volumele mixerului
Name[ru]=Восстановление настроек микшера
Name[sk]=Obnoviť nastavenia mixéra
Name[sl]=Obnovi nastavitve mešalnika
Name[sr]=Обнови јачине миксете
Name[sr@Latn]=Obnovi jačine miksete
Name[sv]=Återställ mixervolymer
Name[ta]=ஒன்றுசேர்க்கும் ஒலியளவு மீட்கவும்
Name[th]=เรียกคืนระดับเสียงของมิกเซอร์
Name[tr]=Karıştırıcı Seslerini Yenile
Name[uk]=Відновити параметри мікшера
Name[zh_CN]=恢复混音器设置
Name[zh_HK]=回復混音器音量
Name[zh_TW]=回復混音器音量

