[Desktop Entry]
Comment=
Encoding=UTF-8
Icon=audio-volume-high
Keywords=
Name=KMixApplet
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Diego [Po]lentino Casella
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=polentino911@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.plasma-applet-kmix
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=http://polentino911.wordpress.com
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=ui/kmixapplet.qml
X-Plasma-RemoteLocation=