[Desktop Entry]
Type=Service
Icon=kmix
Name=KMix Daemon
Name[ca]=Dimoni del KMix
Name[ca@valencia]=Dimoni del KMix
Name[de]=KMix-Dienstprogramm
Name[en_GB]=KMix Daemon
Name[nl]=KMix-daemon
Name[pt]=Servidor do KMix
Name[uk]=Фонова служба KMix
Name[x-test]=xxKMix Daemonxx
Comment=Monitors sound devices
Comment[ca]=Controla els dispositius de so
Comment[ca@valencia]=Controla els dispositius de so
Comment[de]=Überwacht Audiogeräte
Comment[en_GB]=Monitors sound devices
Comment[nl]=Monitort geluidsapparaten
Comment[pt]=Vigia os dispositivos de som
Comment[uk]=Стежить за звуковими пристроями
Comment[x-test]=xxMonitors sound devicesxx

# KDED registration
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_kmixd
X-KDE-DBus-ModuleName=kmixd
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
