[Desktop Entry]
Type=Service
Icon=kmix
Name=KMix Daemon
Name[ca]=Dimoni del KMix
Name[ca@valencia]=Dimoni del KMix
Name[cs]=Démon KMix
Name[da]=KMix-dæmon
Name[de]=KMix-Dienstprogramm
Name[el]=Δαίμονας KMix
Name[en_GB]=KMix Daemon
Name[es]=Demonio de KMix
Name[et]=KMixi deemon
Name[eu]=KMix daimona
Name[fi]=KMix-palvelu
Name[fr]=Démon KMix
Name[gl]=Servizo de KMix
Name[hu]=KMixD démon
Name[ia]=Demone KMixD
Name[id]=KMix Daemon
Name[it]=Demone di KMix
Name[ko]=KMix 데몬
Name[nl]=KMix-daemon
Name[nn]=KMix-teneste
Name[pl]=Usługa KMix
Name[pt]=Servidor do KMix
Name[pt_BR]=Daemon do KMix
Name[ro]=Demon KMix
Name[ru]=Служба KMixD
Name[sk]=KMix Daemon
Name[sl]=KMix demon
Name[sv]=Kmix-demon
Name[uk]=Фонова служба KMix
Name[x-test]=xxKMix Daemonxx
Name[zh_CN]=KMix 守护进程
Name[zh_TW]=KMix 伺服程式
Comment=Monitors sound devices
Comment[ca]=Controla els dispositius de so
Comment[ca@valencia]=Controla els dispositius de so
Comment[cs]=Monitoruje zvuková zařízení
Comment[da]=Overvåger lydenheder
Comment[de]=Überwacht Audiogeräte
Comment[el]=Παρακολούθηση συσκευών ήχου
Comment[en_GB]=Monitors sound devices
Comment[es]=Monitoriza dispositivos de sonido
Comment[et]=Heliseadmete jälgimine
Comment[eu]=Soinu gailuak gainbegiratzen ditu
Comment[fi]=Valvoo äänilaitteita
Comment[fr]=Suivi des périphériques son
Comment[gl]=Monitoriza os dispositivos de son
Comment[hu]=Hangeszközök monitorozása
Comment[ia]=Supervisiona dispositivos de sono
Comment[id]=Pemantau perangkat suara
Comment[it]=Controlla i dispositivi sonori
Comment[ko]=소리 장치 모니터
Comment[nl]=Monitort geluidsapparaten
Comment[nn]=Overvaker lydeiningar
Comment[pl]=Monitoruje urządzenia dźwiękowe
Comment[pt]=Vigia os dispositivos de som
Comment[pt_BR]=Monitora dispositivos de som
Comment[ro]=Monitorizează dispozitivele de sunet
Comment[ru]=Отслеживание звуковых устройств
Comment[sk]=Sleduje zvukové zariadenia
Comment[sl]=Nadzoruje zvočne naprave
Comment[sv]=Övervakar ljudenheter
Comment[uk]=Стежить за звуковими пристроями
Comment[x-test]=xxMonitors sound devicesxx
Comment[zh_CN]=监控声音设备
Comment[zh_TW]=顯示器音效裝置

# KDED registration
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kmixd
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
