[Desktop Entry]
Type=Service
Icon=kmix
Name=KMix Daemon
Name[en_GB]=KMix Daemon
Name[x-test]=xxKMix Daemonxx
Comment=Monitors sound devices
Comment[en_GB]=Monitors sound devices
Comment[x-test]=xxMonitors sound devicesxx

# KDED registration
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_kmixd
X-KDE-DBus-ModuleName=kmixd
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
